.input-group {
  flex: 1;
  margin-bottom: 1.25rem;
}

.input-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 1rem;
  color: var(--text-gray);
  font-size: 1.2rem;
}

.input-field {
  width: 100%;
  padding: 0.875rem 1rem 0.875rem 3rem; /* Chừa chỗ cho icon */
  border: 1px solid #d1d5db;
  border-radius: 0.75rem;
  outline: none;
  font-size: 1rem;
  transition: border-color 0.2s;
}

.input-field:focus {
  border-color: var(--primary-color);
}